<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCgiaOuNzMyWeB8wZAcm8OY4ANv0Ky2DYs</string>
	<key>GCM_SENDER_ID</key>
	<string>1009128177068</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.rh.healthcare</string>
	<key>PROJECT_ID</key>
	<string>rh-course-app</string>
	<key>STORAGE_BUCKET</key>
	<string>rh-course-app.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1009128177068:ios:55b6754ec49e7a3e0c4e09</string>
</dict>
</plist>